-siteTitle = 'JDgrid UI'
-pageTitle = 'Inicio'
-pageStylesheet = ''
-pages = ['inicio']
-elements = ['tooltips']

-headerTitle = 'JDgid UI'
-headerDescription = 'Librería que contiene varios elementos de la interfaz de usuario.'