extends templates/template

append config
    -pageTitle = 'Tooltips'
    -pageStylesheet = 'tooltips'
    -headerTitle = 'Tooltips'
    -headerDescription = 'Diseños de tooltips'

block pageContent
    block explanation
        h2.main__main-title ¿Qué es un tooltip?
        p.main__text Un pequeño elemento el cual muestra una ayuda al usuario.

    block classes

    block examples
