block config
    include ../config/config

doctype html
html(lange="es")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        title #{siteTitle} | #{pageTitle}
    body
        block menu
            include ../blocks/menu

        block header
            include ../blocks/header

        main.main
            block pageContent
                block explanation
                block classes
                block examples

        block footer
            include ../blocks/footer